<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="row titulo">
    <div class="col">
      <h1 class="titulo h1">Portal Ourinhos</h1>
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <br />
            <img src="..\..\assets/camiseta preta.jpg" class="card-img-top" alt="tabela de informacao">
          </div>
          <div class="col">
            <br />
            <img src="..\..\assets/camiseta preta.jpg" class="card-img-top" alt="tabela de informacao">
          </div>
          <div class="col">
            <br />
            <img src="..\..\assets/camiseta preta.jpg" class="card-img-top" alt="tabela de informacao">
          </div>
          <div class="col">
            <br />
            <img src="..\..\assets/camiseta preta.jpg" class="card-img-top" alt="tabela de informacao">
          </div>
          <br />
          <div class="container">
            <div class="row align-items-center">
              <div class="col">
                <br />
                <img src="..\..\assets/camiseta preta.jpg" class="card-img-top" alt="tabela de informacao">
              </div>
              <div class="col">
                <br />
                <img src="..\..\assets/camiseta preta.jpg" class="card-img-top" alt="tabela de informacao">
              </div>
              <div class="col">
                <br />
                <img src="..\..\assets/camiseta preta.jpg" class="card-img-top" alt="tabela de informacao">
              </div>
              <div class="col">
                <br />
                <img src="..\..\assets/camiseta preta.jpg" class="card-img-top" alt="tabela de informacao">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
