<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="row titulo">
    <div class="col">
      <h1 class="titulo h1">Portal Ourinhos</h1>
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4" *ngIf="this.anuncio && this.anuncio.length > 0">
          <div class="col" *ngFor="let item of this.anuncio">
            <div class="card" style="width: 18rem;">
              <img src="..\..\assets/{{item.foto}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{item.nome}}</h5>
                <p class="card-text" style="min-height:50px">{{item.detalhe}}</p>
                <a class="btn btn-primary" [routerLink]="['/info-produto']">detalhes</a>
              </div>
              <div class="card-footer">
                R$230,00
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

