<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
    </ol>
  </nav>
</div>
<div class="container">
 
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-5" *ngIf="this.anuncio && this.anuncio.length > 0">
      <div class="col mb-3" *ngFor="let item of this.anuncio">
        <div class="card" style="width: 13rem;">
          <div class="card-header text-center">
            <img src="..\..\assets/{{item.logo}}" class="card-img-top" style="max-height: auto; max-width: 40px"  alt="{{item.empresa}}">            
          </div>
          <div class="card-body">
            <img src="..\..\assets/{{item.foto}}" class="card-img-top text-center" style="max-height: auto; max-width: 150px" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" style="min-height:45px">{{item.nome}}</h5>
            <p class="card-text" style="min-height:50px">{{item.detalhe}}</p>
          </div>
          <div class="card-footer p-1">
            <div class="container">
              <div *ngIf="item.tipoDesconto == 0">
                {{item.valor | currency }}
              </div>
              <div class="row" *ngIf="item.tipoDesconto == 1">
                <div class="col-6 text-center">
                  <b>{{item.valor | currency}}</b>
                </div>
                <div class="col-6 text-center">
                  <button type="button" class="btn btn-success btn-sm">Promoção</button>
                </div>

              </div>
              <div *ngIf="item.tipoDesconto == 2">
                De: <s>{{item.valor | currency}}</s> Por:R$09,99 <!--{{item.valorDesconto}}-->
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

