<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
    </ol>
  </nav>
</div>
<h1>
  Painel Cliente
</h1>
<div>
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email:</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text"></div>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha:</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="row">
      <div class="col-4">
        <a class="nav-link text-dark" [routerLink]="['/esqueci minha senha']">Esqueci minha senha.</a>
      </div>
      <div class="col-2">
        <a [routerLink]="['../painel-home']" class="btn btn-primary" style="float: right; margin-right: 70px; width: 139px; height: 50px;">
          <div style="position:relative;top:50%;transform:translateY(-50%);">LOGAR</div>
        </a>
      </div>
    </div>
  </form>
</div>
