<div>
  <h1>editar painel</h1>
</div>
<div class="row mt-3">
  <div class="col-xl-2 col-sm-12">
    <div class="form-group row">
      <label for="txtCodigoGaragem" class="col-xl-12 col-form-label">Título</label>
      <div class="col-xl-12">
        <input type="text"
               id="txtCodigoGaragem"
               class="form-control"
                />
      </div>
    </div>
  </div>
</div>
<div class="form-group row">
            <label for="txtNomeGaragem" class="col-xl-12 col-form-label">Descrição</label>
            <div class="col-xl-6">
              <div class="row-3"></div>
              <input type="text"
                     id="txtNomeGaragem"
                     class="form-control"
                      />
            </div>
          </div>
<select class="form-select" aria-label="Default select example">
  <option selected>estado</option>
  <option value="1">Sao Paulo</option>
  <option value="2">Rio de janeiro</option>
  <option value="3">Cambara</option>
  <option value="4">Goias</option>
  <option value="5">Bahia</option>
</select>
